.form-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin:  0 auto;
    width: 60vw;
    height: max-content;
    background: #F8F8F8;
    padding: 10% 5%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-container h2{
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

Button {
    margin: 0 auto;
    width: 150px;
    height: 50px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .form-container{
        padding: 17% 5%;
    }
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .form-container{
        padding: 17% 5%;
    }
}
@media all and (min-width: 480px) and (max-width: 768px) {
    .form-container{
        padding: 22% 5%;
    }
}

@media all and (max-width: 480px) {
    .form-container{
        padding: 25% 5%;
    }
}