.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 20px 319px;
    background: #FFF;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.05);
}

.header__nav img {
    max-width: 189;
    max-height: 62;
}

.header__menu{
    display: flex;
    align-items: center;
}

.header__menu li{
    list-style: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 15px 200px;

    }
    .header__nav img {
        width: 30%;
    }    
    .header__menu{
        justify-content: center;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 15px 200px;
        background: #FFF url(../Img/undraw_hamburger_-8-ge6\ 1.svg) 100% 50%no-repeat;
        background-size: 25%;
        z-index: 99;
    }
    .header__nav img {
        width: 30%;
    }    
    .header__menu{
        justify-content: center;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
    }
}


@media all and (min-width: 480px) and (max-width: 768px) {
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 15px 200px;
        background: #FFF url(../Img/undraw_hamburger_-8-ge6\ 1.svg) 100% 30%no-repeat;
        background-size: 20%;
    }
    .header__nav img {
        min-width: 30%;
    }    
    .header__menu{
        justify-content: center;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
    }
}







