.recipe__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    width: 280px;
    background: #FFF;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15);
    font-family: Quando;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;

}

.recipe__cards img{
    width: 100%;
    max-height: 183px;
}

.recipe__cards h2{
    width: max-content;
    height: max-content;
    margin-left: 17px;
    padding: 6px 20px;
    border-radius: 50px;
    background: #C4C4C4;
    
}

.recipe__cards p{
    margin-left: 17px;
    width: 80%;
    height: max-content;
    padding: 6px 15px 6px 15px;
    border-radius: 50px;
    background: #C4C4C4;
    
}

.recipe__cards Button{
    width: 100%;
    height: 15%;
    margin-top: 0px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .recipe__cards{
        gap: 15px;
        max-width: 30%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .recipe__cards{
        gap: 10px;
        max-width: 48%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .recipe__cards{
        gap: 10px;
        max-width: 48%;
    }
}

@media all and (max-width: 480px) { }



